<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.waterresources.func.modular.waterSupplyPlan.mapper.WaterSupplyPlanMapper">

    <select id="getWaterSupplyPlanList" parameterType="com.cj.waterresources.func.modular.waterSupplyPlan.bean.req.WaterSupplyPlanSelectListReq" resultType="com.cj.waterresources.func.modular.waterSupplyPlan.bean.res.WaterSupplyPlanSelectListRes">
        select ID,WATER_SUPPLY_PLAN_TYPE,RESERVOIR,YEAR,TABLE_VALUE,TABLE_HEAD
        FROM WATER_SUPPLY_PLAN
        <where>
            <if test="req.waterSupplyPlanType !=null">
                and WATER_SUPPLY_PLAN_TYPE = #{req.waterSupplyPlanType}
            </if>
            <if test="req.reservoir !=null">
                and RESERVOIR = #{req.reservoir}
            </if>
            <if test="req.year !=null">
                and YEAR = #{req.year}
            </if>
            and DEL = 0
        </where>
    </select>
</mapper>
