<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.surfaceWater.generator.mapper.SurfaceWaterActualflowDetailMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.surfaceWater.generator.domain.SurfaceWaterActualflowDetail">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="testingMethod" column="testing_method" jdbcType="VARCHAR"/>
            <result property="waterGauge" column="water_gauge" jdbcType="VARCHAR"/>
            <result property="flow" column="flow" jdbcType="DECIMAL"/>
            <result property="sectionalArea" column="sectional_area" jdbcType="DECIMAL"/>
            <result property="meanVelocity" column="mean_velocity" jdbcType="DECIMAL"/>
            <result property="maxVelocity" column="max_velocity" jdbcType="DECIMAL"/>
            <result property="tpwd" column="tpwd" jdbcType="DECIMAL"/>
            <result property="meanDepth" column="mean_depth" jdbcType="DECIMAL"/>
            <result property="maxDepth" column="max_depth" jdbcType="DECIMAL"/>
            <result property="siteCode" column="site_code" jdbcType="VARCHAR"/>
            <result property="siteName" column="site_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,start_time,
        end_time,type,testing_method,
        water_gauge,flow,sectional_area,
        mean_velocity,max_velocity,tpwd,
        mean_depth,max_depth,site_code,
        site_name
    </sql>
</mapper>
