<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.waterresources.func.modular.waterPrice.waterPriceManagement.mapper.WaterPriceManagementMapper">

    <select id="waterPriceSelectList" parameterType="com.cj.waterresources.func.modular.waterPrice.waterPriceManagement.bean.req.WaterPriceSelectListReq" resultType="com.cj.waterresources.func.modular.waterPrice.waterPriceManagement.bean.res.WaterPriceSelectListRes">
        SELECT ID,USE_WATER_TYPE,STATION,USER_NAME,WATER_PRICE,P_ID,QUOTA_WATER_QUANTITY,FIXED_WATER_PRICE,
        FIRST_LEVEL_STANDARD,FIRST_TIER_PRICE,SECOND_LEVEL_STANDARD,SECOND_TIER_PRICE,THIRD_LEVEL_STANDARD,THIRD_TIER_PRICE
        FROM WATER_PRICE_MANAGEMENT
        <where>
            <if test="req.isAgriculture==1">
                AND USE_WATER_TYPE = '农业用水'
            </if>
            <if test="req.isAgriculture==2">
                <if test="req.useWaterType !=null and req.useWaterType != ''">
                    AND USE_WATER_TYPE = #{req.useWaterType}
                </if>
                <if test="req.useWaterType ==null or req.useWaterType == ''">
                    AND USE_WATER_TYPE != '农业用水'
                </if>
            </if>
            <if test="req.station !=null and req.station != ''">
                AND STATION = #{req.station}
            </if>
            AND DEL = 0
        </where>
    </select>

</mapper>
