<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.waterresources.func.modular.surfaceWater.generator.mapper.SurfaceWaterMapper">


    <select id="annualList" resultType="java.util.Map">

        WITH nbtable AS (
        SELECT MONTH,
        period,
        <foreach item="item" index="index" collection="yearlist" open="" separator="," close="">
            SUM(CASE WHEN YEAR = #{item} THEN FLOW ELSE 0 END) AS "${item}"
        </foreach>
        FROM (WITH DateRanges AS (

        SELECT YEAR,
        MONTH,
        PERIOD,
        ROUND(AVG(FLOW), 3) AS FLOW
        FROM (
        SELECT "TTH"."SURFACE_WATER_FLOW_DETAIL".YEAR,
        MONTH,
        CASE
        WHEN DAY BETWEEN 1 AND 10 THEN '1上旬'
        WHEN DAY BETWEEN 11 AND 20 THEN '2中旬'
        ELSE '3下旬'
        END AS PERIOD,
        FLOW
        FROM "TTH"."SURFACE_WATER_FLOW_DETAIL"
        LEFT JOIN "TTH"."SURFACE_WATER"
        ON "TTH"."SURFACE_WATER_FLOW_DETAIL".PARENT_ID = "TTH"."SURFACE_WATER".ID
        WHERE "TTH"."SURFACE_WATER_FLOW_DETAIL".SITE_NAME = '头屯河进库'
        AND "TTH"."SURFACE_WATER".TABLE_NAME = '日平均流量表'
        AND "TTH"."SURFACE_WATER_FLOW_DETAIL".YEAR BETWEEN 1989 AND 2023)T1
        GROUP BY YEAR, MONTH,PERIOD

        UNION ALL
        SELECT YEAR,
        MONTH,
        PERIOD,
        ROUND(AVG(FLOW), 3) AS FLOW
        FROM (
        SELECT "TTH"."SURFACE_WATER_FLOW_DETAIL".YEAR,
        MONTH,
        CASE
        WHEN DAY BETWEEN 1 AND 10 THEN '1上旬'
        WHEN DAY BETWEEN 11 AND 20 THEN '2中旬'
        ELSE '3下旬'
        END AS period,
        FLOW
        FROM "TTH"."SURFACE_WATER_FLOW_DETAIL"
        LEFT JOIN "TTH"."SURFACE_WATER"
        ON "TTH"."SURFACE_WATER_FLOW_DETAIL".PARENT_ID = "TTH"."SURFACE_WATER".ID
        WHERE "TTH"."SURFACE_WATER_FLOW_DETAIL".SITE_NAME = '楼庄子进库'
        AND "TTH"."SURFACE_WATER".TABLE_NAME = '楼庄子水库进库日均'
        AND "TTH"."SURFACE_WATER_FLOW_DETAIL".YEAR > 2023)T2
        GROUP BY YEAR, MONTH,PERIOD

        )
        SELECT YEAR,
        MONTH,
        period,
        SUM(FLOW) AS FLOW
        FROM DateRanges
        GROUP BY YEAR, MONTH, period
        ORDER BY YEAR, MONTH, period) tb
        GROUP BY MONTH, period
        ORDER BY MONTH, period
        )
        SELECT * FROM nbtable
        UNION ALL
        SELECT NULL AS MONTH,'流量合计' AS period,
        <foreach item="item" index="index" collection="yearlist" open="" separator="," close="">
            SUM("${item}") AS "${item}"
        </foreach>
        FROM nbtable
        UNION ALL
        SELECT NULL AS MONTH,'流量平均' AS period,
        <foreach item="item" index="index" collection="yearlist" open="" separator="," close="">
            ROUND(AVG("${item}"), 3) AS "${item}"
        </foreach>
        FROM nbtable
        UNION ALL
        SELECT NULL AS MONTH,'水量合计' AS period,
        <foreach item="item" index="index" collection="yearlist" open="" separator="," close="">
            ROUND(SUM("${item}")*8.64*365/10000,3) AS "${item}"
        </foreach>
        FROM nbtable
        UNION ALL
        SELECT NULL AS MONTH,'水量平均' AS period,
        <foreach item="item" index="index" collection="yearlist" open="" separator="," close="">
            ROUND(AVG("${item}")*8.64*365/10000, 3) AS "${item}"
        </foreach>
        FROM nbtable

    </select>
</mapper>
