<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.waterresources.func.modular.surfaceWater.generator.mapper.SurfaceWaterFlowDetailMapper">

    <select id="QueryTime" resultType="com.cj.waterresources.func.modular.surfaceWater.generator.domain.SurfaceWaterFlowDetail">
        SELECT * FROM surface_water_flow_detail
        WHERE sample_time BETWEEN #{startDate} AND #{endDate}
        AND site_code = #{siteCode}
    </select>
</mapper>
