<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.waterresources.func.modular.useWaterPlanEscalation.yearWaterUsePlan.mapper.YearWaterUsePlanCropMapper">

    <select id="selectListForSum" resultType="com.cj.waterresources.func.modular.useWaterPlanEscalation.yearWaterUsePlan.bean.res.SelectYearWaterUsePlanCropForSum">
        select
            sum(APRIL_EARLY_OCTOBER_WATER_DEMAND) as APRIL_EARLY_OCTOBER,
            sum(APRIL_MID_DAY_WATER_DEMAND) as APRIL_MID_DAY,
            sum(APRIL_LATER_OCTOBER_WATER_DEMAND) as APRIL_LATER_OCTOBER,
            sum(MAY_EARLY_OCTOBER_WATER_DEMAND) as MAY_EARLY_OCTOBER,
            sum(MAY_MID_DAY_WATER_DEMAND) as MAY_MID_DAY,
            sum(MAY_LATER_OCTOBER_WATER_DEMAND) as MAY_LATER_OCTOBER,
            sum(JUNE_EARLY_OCTOBER_WATER_DEMAND) as JUNE_EARLY_OCTOBER,
            sum(JUNE_MID_DAY_WATER_DEMAND) as JUNE_MID_DAY,
            sum(JUNE_LATER_OCTOBER_WATER_DEMAND) as JUNE_LATER_OCTOBER,
            sum(JULY_EARLY_OCTOBER_WATER_DEMAND) as JULY_EARLY_OCTOBER,
            sum(JULY_MID_DAY_WATER_DEMAND) as JULY_MID_DAY,
            sum(JULY_LATER_OCTOBER_WATER_DEMAND) as JULY_LATER_OCTOBER,
            sum(JULY_LATER_OCTOBER_WATER_DEMAND) as JULY_LATER_OCTOBER,
            sum(JULY_LATER_OCTOBER_WATER_DEMAND) as JULY_LATER_OCTOBER,
            sum(AUGUST_EARLY_OCTOBER_WATER_DEMAND) as AUGUST_EARLY_OCTOBER,
            sum(AUGUST_MID_DAY_WATER_DEMAND) as AUGUST_MID_DAY,
            sum(AUGUST_LATER_OCTOBER_WATER_DEMAND) as AUGUST_LATER_OCTOBER,
            sum(SEPTEMBER_EARLY_OCTOBER_WATER_DEMAND) as SEPTEMBER_EARLY_OCTOBER,
            sum(SEPTEMBER_MID_DAY_WATER_DEMAND) as SEPTEMBER_MID_DAY,
            sum(SEPTEMBER_LATER_OCTOBER_WATER_DEMAND) as SEPTEMBER_LATER_OCTOBER,
            sum(OCTOBER_EARLY_OCTOBER_WATER_DEMAND) as OCTOBER_EARLY_OCTOBER,
            sum(OCTOBER_MID_DAY_WATER_DEMAND) as OCTOBER_MID_DAY,
            sum(OCTOBER_LATER_OCTOBER_WATER_DEMAND) as OCTOBER_LATER_OCTOBER,
            sum(NOVEMBER_EARLY_OCTOBER_WATER_DEMAND) as NOVEMBER_EARLY_OCTOBER,
            sum(NOVEMBER_MID_DAY_WATER_DEMAND) as NOVEMBER_MID_DAY,
            sum(NOVEMBER_LATER_OCTOBER_WATER_DEMAND) as NOVEMBER_LATER_OCTOBER
        from YEAR_WATER_USE_PLAN_CROP where YEAR = #{year} and area like concat('%',#{area},'%') and del = 0
    </select>

    <select id="planComparedToActual" resultType="com.cj.waterresources.func.modular.useWaterPlanEscalation.yearWaterUsePlan.bean.vo.PlanComparedToActualByYearVo">
        select YEAR, AREA,UNIT,${month} as v,UNIT_ID,BIND_ID from tth.YEAR_WATER_USE_PLAN_TRUNK_CANAL where year = #{year}
    </select>
</mapper>
