<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.middleDatabase.func.modular.irrigatedArea.irrigatedPlatformDataInfo.mapper.IrrigatedPlatformDataInfoMapper">
    <select id="getRealTimeWaterLevel" resultType="com.cj.middleDatabase.func.modular.irrigatedArea.irrigatedPlatformDataInfo.entity.IrrigatedPlatformDataInfo">
        SELECT *
        from IRRIGATED_PLATFORM_DATA_INFO where (MONITOR_ID,MONITOR_TIME) in (
        select MONITOR_ID,max(MONITOR_TIME)
        FROM IRRIGATED_PLATFORM_DATA_INFO
        <where>
            <if test="id!=null and id.size()>0">
                and MONITOR_ID in
                <foreach item="item" collection="id" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and RECORD_TIME = #{time}
        </where>
        group by MONITOR_ID)
    </select>

    <select id="getRealTimeRainfall" resultType="com.cj.middleDatabase.func.modular.irrigatedArea.irrigatedPlatformDataInfo.entity.IrrigatedPlatformDataInfo">
        SELECT MONITOR_ID,MONITOR_NAME,YQ_RAIN_FALL_ONE,YQ_RAIN_FALL_THREE,YQ_RAIN_FALL_SIX,YQ_RAIN_FALL_TWELVE,YQ_RAIN_FALL_TWENTY_FOUR
        FROM IRRIGATED_PLATFORM_DATA_INFO
        <where>
            and TO_CHAR(MONITOR_TIME,'YYYY-MM-DD hh24') = #{date}
            <if test="ids!=null and ids.size()>0">
                and MONITOR_ID in
                <foreach item="item" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and to_char(MONITOR_TIME,'mi')=00
        </where>
        order by MONITOR_TIME desc
    </select>

    <select id="getRealTimeRainfallByDate" resultType="com.cj.middleDatabase.func.modular.dto.RealTimeRainfallRes">
        SELECT MONITOR_ID as ID,MONITOR_NAME as STATION_NAME, YQ_RAIN_FALL_ONE as RAINFALL
        FROM IRRIGATED_PLATFORM_DATA_INFO
        <where>
            and RECORD_TIME = #{date}
            <if test="ids!=null and ids.size()>0">
                and MONITOR_ID in
                <foreach item="item" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and to_char(MONITOR_TIME,'mi')=00
        </where>
        order by MONITOR_TIME desc
    </select>

    <select id="selectTodayWaterSituation" resultType="com.cj.middleDatabase.func.modular.irrigatedArea.irrigatedPlatformDataInfo.bean.res.SelectTodayWaterSituationRes">
        SELECT MONITOR_NAME as name,SQ_MONITOR_FLOW as value,MONITOR_ID as id
        from IRRIGATED_PLATFORM_DATA_INFO where (MONITOR_ID,MONITOR_TIME) in (
        select MONITOR_ID,max(MONITOR_TIME)
        FROM IRRIGATED_PLATFORM_DATA_INFO
        <where>
            <if test="ids!=null and ids.size()>0">
                and MONITOR_ID in
                <foreach item="item" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and RECORD_TIME = #{date}
        </where>
        group by MONITOR_ID)
    </select>

</mapper>
